<%- include('header'); -%>
<h1>LOGIN</h1>
<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password">
  <button>Login</button>
</form>
<form action="register.ejs">
  <button>Register</button>
</form>
</div>
<%- include('footer'); -%>